<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <!--Latest compiled minified css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
    <script src="https://kit.fontawesome.com/bd5fb8a7ab.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ABHISHEKEXAMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'java' %}"><i class="fab fa-java"></i>java</a> </li>
            <li><a href="{% url 'python' %}"><i class="fab fa-python"></i>python</a> </li>
            <li><a href="{% url 'apti' %}">aptitude exams</a> </li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'signup' %}">signup</a> </li>
            <li><a href="{% url 'login' %}">login</a> </li>
            <li><a href="{% url 'logout' %}">logout</a> </li>
        </ul>
    </div>
</nav>
{% block body_block %}
{% endblock %}
</body>
</html>